h1{
    color: blueviolet;
}
.register{
    background-image: url(../images/rainy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
/* .login{

} */
